body{
	background: #000;
	color: #FFF;
	font-family: Arial;
	font-size: 14px;
}

a{
	color: #FFF;
}

a:hover{
	color: #5F5;
}

button{
	background: #000;
	border: 2px solid #FFF;
	border-radius: 7px;
	color: #FFF;
	font-size: 14px;
	padding: 2px 5px;
}

button[disabled]{
	border-color: #AAA;
	color: #AAA;
}

button:hover:not([disabled]){
	cursor: pointer;
	border-color: #5F5;
}

label:hover{
	cursor: pointer;
	color: #5F5;
}

input[type="text"]{
	background: #000;
	border: 1px solid #FFF;
	border-radius: 7px;
	color: #FFF;
	padding: 2px 5px;
}

input[type="text"][disabled]{
	background: #222;
	border-color: #222;
}

input[type="text"]:not([disabled]):hover,
input[type="text"]:not([disabled]):focus{
	border-color: #5F5;
}

.hide,
#rooms > *:not(.selected),
#new_tab_notification:empty{
	display: none;
}

#body{
	margin: 0 auto;
	max-width: 1100px;
	padding: 20px;
	width: calc(100% - 40px);
}

#banner > a:first-child{
	font-size: 50px;
	margin-right: 15px;
	text-decoration: none;	
}

#tabs{
	border-bottom: 2px solid #FFF;
	margin-bottom: 5px;
	padding: 20px 0 2px;
}

#tabs > span{
	border: 2px solid #888;
	border-bottom-width: 0;
	border-radius: 5px 5px 0 0;
	color: #888;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 -2px 5px;
	padding: 2px 5px;
}

#tabs > span.selected{
	border-color: #FFF;
	color: #FFF;
}

#tabs > span.new_message,
#tabs > span > span,
#rooms .greentext{
	color: #5F5;
}

#tabs > span.invited{
	border-color: #FF0;
	color: #FF0;
}

#rooms{
	padding-bottom: 30px;
}

#rooms > div.d_fault{
	margin-top: 5px;
}

#rooms > div > div{
	display: inline-block;
	vertical-align: top;
}

#rooms > div.d_fault label,
#rooms > div.d_fault input[type="text"]{
	margin-top: 7px;
}

#rooms > div > input[type="text"]:last-child{
	margin-top: 5px;
	width: 100%;
}

#rooms .options{
	border: 1px solid #FFF;
	border-top-width: 0;
	display: none;
	font-size: 12px;
	line-height: 10px;
	padding: 15px;
}

#rooms .options button{
	padding: 0 2px;
}

.messages{
	height: 300px;
	overflow-y: scroll;
	width: calc(100% - 230px);
}

#new_tab_notification{
	font-weight: 700;
	margin-bottom: 7px;
}

.last{
	margin-bottom: 15px;
}

.info{
	display: inline-block;
	height: 350px;
	margin-top: 8px;
	width: 230px;
	overflow-y: auto;
	vertical-align: top;
}

.room_name{
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.timestamp{
	color: #BBB;
	display: inline-block;
	font-size: 10px;
	margin: 0 5px 0 3px;
}

.info_box{
	height: 300px;
	width: 230px;
}

.userlist > li:first-child{
	color: #FFD700;
	font-weight: 700;
}

.userlist > li:first-child + li{
	color: #C0C0C0;
	font-weight: 700;
}

.userlist > li:first-child + li + li{
	color: #CD7F32 ;
	font-weight: 700;
	margin-bottom: 7px;
}

.userlist > li:first-child > span,
.userlist > li:first-child + li > span,
.userlist > li:first-child + li + li > span{
	font-weight: normal;
}